---
import { Footer, Navbar } from "@walle/components";
import { AbstractLayout } from "@walle/layouts";
---

<AbstractLayout {...Astro.props}>
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</AbstractLayout>
