---
import { SectionHeaderStandard } from "@walle/components";
import { BlogPostsLayout } from "@walle/layouts";
---

<BlogPostsLayout headerTitle="Home" clickableCard={true}>
  <SectionHeaderStandard
    title="Fabrizio Cafolla"
    subtitle="DevOps & Cloud Engineer @ SparkFabrik"
    variant="secondary"
  >
    <div>
      <h5>
        Founder of <a href="https://italiaopensource.com">Italia Open-Source</a> and Community Manager
        of <a href="https://www.latinaintech.org/it">Latina in Tech</a>.
      </h5>
    </div>
  </SectionHeaderStandard>
</BlogPostsLayout>
